<h1>Shopping Cart</h1>
<div class="card" *ngIf="items$ | async as cart" style="width: 80%;">
  <div class="card-body">
    <p>
      You have {{ count$ | async }} items in your shopping cart.
      <button *ngIf="(items$ | async)?.length !== 0" (click)="clearCart()" class="float-right btn btn-light btn-sm">Clear Shopping Cart</button>

    </p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center" style="width: 230px">Quantity</th>
        <th class="text-right" style="width: 200px">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items$ | async">
        <td>
          <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail">
          </div>
        </td>
        <td>
          {{ item.title }}
        </td>
        <td>{{ item.quantity }}
          <!-- product-quantity [product]="item" [shopping-cart]="cart">
          </product-quantity-->
        </td>
        <td class="text-right">
          {{ item.price | currency:'USD': "symbol":'.2' }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">{{ subTotal$ | async |currency:'USD':'symbol':'.2' }}</th>
      </tr>
      <tr>
        <th colspan="4">
          <a *ngIf="(items$ | async)?.length !== 0" routerLink="/check-out" class="btn btn-primary">Check Out</a>
        </th>
      </tr>
    </tfoot>
  </table>
</div>