<div class="card">
    <div class="card-body">
      <h4 class="card-title">Order Summary</h4>
      <p class="card-text">You have {{ count$ | async }} items in your shopping cart.</p>
      <ul class="list-group list-group-flush">
        <li *ngFor="let item of cart.items" class="list-group-item">
          {{ item.quantity }} x {{ item.title }}
          <div class="float-right">
            {{ item.price * item.quantity | currency:'USD':'symbol' }}
          </div>
        </li>
        <!-- li class="list-group-item font-weight-bold" -->
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Total 
            <span class="float-left">{{ subTotal$ | async | currency:'USD':'symbol' }}</span>
          
        </li>
      </ul>
    </div>
  </div>